body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c;
}

.error {
    color: red;
    text-align: center;
}
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode #postsContainer {
    background-color: #555;
}
body.dark-mode .post {
    background-color: #444;
    border-color: #666;
}

body.dark-mode .post button.eraseButton {
    background-color: #c9302c;
}

body.dark-mode .post button.eraseButton:hover {
    background-color: #a94442;
}
